<p class="m-0 fs-1" id="teste">Cidades e Bairros</p>
<p class="mb-3">Cidades e bairros cadastrados no banco de dados.</p>

<div class="row row-cols-md-3">
{{#each data.cidades}}
	<div class="col mb-3">
		<div class="card">
			<div class="card-header"><b data-id="{{_id}}">{{name}}</b> <span></span></div>
			<div class="card-body text-center bg-dark">
				<form action="#" id="{{_id}}">
					<label for="form{{_id}}">Adicionar bairro: </label>
					<input class="form-control" type="text" name="bairro" id="form{{_id}}" />
				</form>
			</div>
			<ul class="bairros list-group list-group-flush" data-cidade="{{_id}}"></ul>
			<div class="card-footer">
				<a href="#" class="card-link text-danger" data-cidade="{{_id}}">Excluir</a>
			</div>
		</div>
	</div>
{{/each}}
</div>


<script>
	document.querySelectorAll('.bairros').forEach(async div => {
		const _id = div.dataset.cidade
		const Bairros = await fetch('/api/bairros/' + _id)
		const Response = await Bairros.json()

		{{!-- document.querySelector(`[data-id="${_id}"] span`)
			.innerHTML = Response.length --}}

		Response.forEach(bairro => {
			const Li = document.createElement('li')
			Li.className = 'list-group-item small p-1'
			Li.innerHTML = bairro.name

			document.querySelector(`.bairros[data-cidade="${_id}"]`)
				.appendChild(Li)
		})
	})

	document.querySelectorAll('.card-header b').forEach(header => {
		header.onclick = () => {
			const id = header.dataset.id
			document.querySelectorAll(`.bairros`)
				.forEach(ul => {
					if(ul.dataset.cidade != id) {
						ul.classList.remove('d-flex')
					}
				})
			const ul = document.querySelector(`[data-cidade="${id}"]`)
			ul.classList.toggle('d-flex')
		}
	})

	document.querySelectorAll('.card-link').forEach(cd => {
		cd.onclick = () => {
			console.log(cd.dataset.cidade)
		}
	})
</script>