<h2 class="mb-5">Editar empreendimento <em><small class="text-muted">{{_id}}</small></em></h2>

{{#if success_msg}}
<div class="alert alert-success" role="alert"><strong>{{success_msg}}</strong></div>
{{/if}}
{{#if error_msg}}
<div class="alert alert-danger" role="alert"><strong>{{error_msg}}</strong></div>
{{/if}}

{{>_empreendimento_form}}

<script type="text/javascript">
	const Empreendimento = fetch('/api/empreendimentos/{{_id}}')
	const Imagens = fetch('/api/imagens/{{_id}}')
	const Cidades = fetch('/api/cidades/')

	const GetBairro = (cidade_id, bairro_id) => {
		bairroForm.innerHTML = null //LIMPA A LISTA ATUAL
		const Bairro = fetch('/api/bairros/' + cidade_id)
		Bairro.then(data => {
			data.json().then(bairros => {
				bairros.map(({ _id, name }) => {
					const Render = `<option value="${_id}">${name}</option>`
					bairroForm.innerHTML += Render
				})
				bairroForm.value = bairro_id || null
			})
		})
	}

	const GetCidade = (cidade_id, bairro_id) => {
		Cidades.then(data => {
			data.json().then(cidades => {
				cidades.map(({ _id, name }) => {
					const Render = `<option value="${_id}">${name}</option>`
					cidadeForm.innerHTML += Render
				})
				const GetOption = document.querySelector(`option[value="${cidade_id}"]`)
				cidadeForm.value = cidade_id || null
			})
			return GetBairro(cidade_id, bairro_id)
		})
	}

	Empreendimento.then(data => {
		data.json().then(empreendimento => {
			const {
				_id,
				title,
				type,
				price,
				categoria,
				cidade,
				bairro,
				google_maps,
				quartos,
				suites,
				banheiros,
				vagas_garagem,
				details,
				status,
				default_image
			} = empreendimento

			{{!-- console.log("Veio do BD", empreendimento) --}}

			titleForm.value = title
			typeForm.value = type
			categoriaForm.value = categoria
			priceForm.value = price
			quartosForm.value = quartos
			suitesForm.value = suites
			banheirosForm.value = banheiros
			vagasForm.value = vagas_garagem
			googleForm.value = google_maps
			detailsForm.value = details
			if (status) {
				statusForm.checked = true
			} else {
				statusForm.checked = false
			}

			return GetCidade(cidade, bairro)
		}).catch(err => console.error(err))
	})

	cidadeForm.addEventListener('change', function (e) {
		const cidade_id = this.value
		GetBairro(cidade_id)
	})

	document.querySelector('[data-js="form_empreendimento"]')
		.addEventListener('submit', function(e) {
			e.preventDefault()

			const dados = {
				title: titleForm.value,
				type: typeForm.value,
				price: priceForm.value,
				categoria: categoriaForm.value,

				cidade: cidadeForm.value,
				bairro: bairroForm.value,
				google_maps: googleForm.value,

				quartos: quartosForm.value,
				suites: suitesForm.value,
				banheiros: banheirosForm.value,
				vagas_garagem: vagasForm.value,
				details: detailsForm.value,

				status: statusForm.checked,
			}

			sessionStorage.setItem('dados', JSON.stringify(dados))

			{{!-- console.log("Dados enviados:", dados) --}}

			fetch('/api/empreendimentos/{{_id}}', {
				method: 'PUT',
				headers: { 'Content-Type': 'application/json' },
				body: JSON.stringify(dados)
			})
				.then(res => console.log(res))
				.catch(err => console.error(err))
		})
</script>